.container-seleccion-juego {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 97vh;
  background-image: url('src/images/mortalfond.jpg'); /* Reemplaza 'tu-imagen-de-fondo.jpg' con la URL de tu imagen de fondo */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
  
.transparent-button {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
  
.transparent-button:hover {
  background-color: white;
  color: black;
}  


  